{% extends "layout.html" %}


{% block body %}

<h3>Hakkımızda</h3>
<hr>

<p>
    Everyone merhaba.b Mustafa Murat coşkun.odt Computer Engineering 4th öğrencisiyim.yazıl Science channel to its programming and software and teens who want to learn programmer to be useful, but also the software in Turkey and training to rise in order stripped until kurdum.şimdi on April 10, 2015 as much as uploading videos çalıştım.b the goal of transforming the channel software Science academy generic online the four corners of Turkey as a free way to our youth and science education software together verebilmek.ülke Do you çalışalım.v vaccination to everyone?
</p>
{% endblock body %}
